{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tarefas</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

  </head>
  <body>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      To-Do-List
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/" >Inicio</a>
    <a href="#" >Perfil</a>
    <a href="{% url 'contato'%}" >Contato</a>
    <a href="deslogar" >Sair</a>

  </div>
</div>

{% block content %}

{% endblock %}

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>