{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrap">
  <div class="task-list">
    <ul>
      {% for task in tasks %}
      <li>
        <span>{{task.tarefa}}</span>
          <form action="{% url 'deletar' task.id %}" method="POST">
            {% csrf_token %}
            <button  type="submit" id="1" class="delete-button">X</button>
          </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  <form class="add-new-task" autocomplete="off" method="post" action="{% url 'index'%}">
        {% csrf_token %}
    <input type="text" name="tarefa"  placeholder="Adicione uma nova tarefa..." />
  </form>
</div>
    {% endblock %}
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>